<!DOCTYPE html>
<html>
	<head>
		<title>Django Girls</title>
		<link	href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"	rel="stylesheet"	type="text/css">
		<style type="text/css">
		 
			.div {
				max-width: 800px;
				margin:auto;

			}

			a{
				text-decoration:none;
				color: #06655c;
			}
			hr{
				color: #06655c;
				
			}
			p{
				font-family: ;
				line-height: 26px;
			}

		</style>
		
	</head>
	<body>
		<div style="background-color:orange; padding:10px">
			<h1>
			<span style="color:white; font-weight: bolder;"><em>Django Girls Plateau </em></span> 
			<a href="#"><span style="float:right;color:white; font-weight: bolder">+</span></a> </h1>
		</div>

		{% block content %} {% endblock %}
	<p style="margin-left:350px; padding-top: 60px;">Copyright &copy; 2018, Queen</p>
	</body>
</html>